<div>
  <div id="demo1" *ngIf="showReceipeDashboard">
    <h2 role="heading">My Recipes</h2>
    <!-- ^ Do not remove this element ^ -->
    <div><button (click)="receipeClicked()" role="button" name="Add Recipe">Add Recipe</button></div>
    <p>There are no recipes to listss</p>
  </div>
  <div id="demo2" *ngIf="showRecepieForm">
    <form name="Receipe" action="">
       <div><input type="submit" value="submit" role="button" (click)="submit()" ></div>
    
        <textbox role="textbox" name="recipe-name" ><input type="text"   role="textbox"  name = "recipe-name" [(ngModel)]="recipeName" placeholder="recipe-name"></textbox>
 
      <textbox role="textbox" name="recipe-instructions" ><input  type="text"  role="textbox" name="recipe-instructions" [(ngModel)]="recipeInstructions" placeholder="recipe-instructions">
      
      </textbox>
      <br><br>
    </form>
  </div>
  <div id="demo3" *ngIf="showFinalRecipe" >
    <h2 role="heading">My Recipes</h2>
    <ul role="listitem"><li role="listitem">{{recipeName}} --> {{recipeInstructions}}</li></ul>
  </div>
</div>
