
<div>
  <form name="Receipe" action="">
  <div id="demo1" *ngIf="showReceipeDashboard">

    <h2>My Recipes</h2>
    <!-- ^ Do not remove this element ^ -->
    <div><button (click)="receipeClicked()">Add Recipe</button></div>
    <h4>There are no recipes to list !</h4>
  </div>


  <div id="demo2" *ngIf="showRecepieForm">
    
      <div>
        <label for="recipe-name">recipe-name</label>
      </div>
      <input type="textbox" name="recipe-name" [(ngModel)]="recipeName">
      <div>
        <label for="recipe-instructions">recipe-instructions</label>
      </div>
      <input type="textbox" name="recipe-instructions" [(ngModel)]="recipeInstructions" >
      <br><br>
      <div><input type="submit" value="submit" (click)="submit()" ></div>

   
  </div>

  <div id="demo3" *ngIf="showFinalRecipe" >
    <h2>My Receipe</h2>
    <ul><li>{{recipeName}} --> {{recipeInstructions}}</li></ul>
    
  </div>
 </form>
</div>
